html{
    height: 100%;
}

body{
    background-image: linear-gradient(white,rgb(57, 112, 213));
    background-repeat: no-repeat;
    color: black;
    font-family: 'Poppins',sans-serif;
}

a{
    
    color: #080710;
}

.f-playfair {
    font-family: 'Playfair Display';
}

form{
    height: 450px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0px 35px;
    background-color: aliceblue;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: #080710;
}

button{
    cursor: pointer;
}
