html{
    height: 100%;
}

body{
    background-image: linear-gradient(white,rgb(57, 112, 213));
    background-repeat: no-repeat;
    color: black;
    font-family: 'Poppins',sans-serif;
}

.f-playfair {
    font-family: 'Playfair Display';
}

a{
    text-decoration: none;
    color: #080710;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin: -8px;
    padding: 10px 10px;
}

.logo-title{
    margin-left: 0px;
    font-size: 40px;
    color: #F64C72;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bolder;
    padding-left: 50px;
}

.right-links{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    list-style: none;
    padding-right: 50px;
}

form{
    height: 580px;
    width: 800px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0px 35px;
    margin-top: 50px;
    background-color: aliceblue;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #080710;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #080710;
    color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    border: 1px solid black;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.side{
    display: flex ;
    flex-direction: row;
}

.login-details{
    display: block;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.lname{
    margin-left: 7em;
    margin-right: 1em;
}

#dropdown{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    /* margin: 1em */


}

.register-btn {
    margin-top: 2em;
}

select,option{
    margin-top: 2em;
    background-color: aliceblue;
    color: #080710;
    margin-left: 1em;
    margin-right: 1em;
    /* margin-top: 1em; */
    border-radius: 3px;
    padding: 0.2em 1em;
    border: 1px solid black;
}