body,html{
    height: 100%;
}

body{
    background-repeat: no-repeat;
    font-family: 'Poppins',sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.f-playfair {
    font-family: 'Playfair Display';
}

.logo-title{
    margin-left: 0px;
    font-size: 40px;
    color: #F64C72;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bolder;
    padding-left: 50px;
}


/* .about-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    max-width: 1300px;
} */

.title{
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

ul{
    list-style: none;
}
.bg-image 
{
    /* The image used */
    background-image: url("../images/library\(dark\).png");
    
    /* Full height */
    height: 90vh;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    z-index: -1;
}

*{
    box-sizing: border-box;
}

#bg-text 
{
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(2px);
}